# Jupyter Notebook endpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Data
# xccshap/  # Descomente se não quiser subir a pasta de dados

# OS
.DS_Store
Thumbs.db
